<div class="container">
  <h1>Welcome to Logginator</h1>
  <p><a href="/login">Login</a></p>
  <p><a href="/create">Create a new account</a></p>
  <p><a href="/secret/<%=session[:user_id]%>">Go to your page</a></p>
  
</div>
