<div class="container">
  <h1>Log in to ShortyVille</h1>
  <h2>THE Place to shorten and track URLs</h2>
  <form id ="login" action="/login" method="post">
    <h3>Login:</h3>
    
    <input type="text" name="email" placeholder="Enter your email here!">
    <br>
    <br>
    <input type="password" name="password" placeholder="Enter password here!">
    <br><br>
    <input type="submit" value="login">
    <h4>Don't Lie, We are checking our files</h4>
  </form>
</div>
